@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "	Arial", sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: #29323c;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: #29323c;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.section-title span {
    color: #9acd32;
}


/* .cta {
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #9acd32;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
} */


/* .cta:hover {
    color: white;
    background-color: #9acd32;
} */

@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "	Arial", sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    color: #29323c;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: #29323c;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.section-title span {
    color: #9acd32;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #9acd32;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
}

.cta:hover {
    color: white;
    background-color: #9acd32;
}

.brand img {
    border-radius: 8px;
    width: 30%;
    height: 15%;
    margin-top: 5px;
    margin-left: 20px;
}


/* Header section */

#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 13vh;
    background-color: #160460;
    transition: 0.3s ease background-color;
}

#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    /* max-width: 100%; */
    padding: 0 10px;
}

#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: #29323c;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s ease left;
    cursor: pointer;
}

#header .nav-list ul.active {
    left: 0%;
}

#header .nav-list ul li.active {
    background-color: #9acd32;
}

#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #29323c;
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a {
    color: #9acd32;
}

#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid #29323c;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
    margin-right: 20px;
}

#header .hamburger:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #29323c;
    animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::before {
    bottom: 0;
}

#header .hamburger.active .bar::after {
    top: 0;
}


/* End Header section */


/* Hero Section */

#slider {
    overflow: hidden;
    height: 20%;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    width: 20%;
    float: left;
    /* padding: 10px; */
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}


/* End Hero Section */


/* Services Section */

#services {
    margin-top: 50px;
    background-color: white;
}

#services .services {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .service-top {
    max-width: 500px;
    margin: 0 auto;
}

#services .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 50px;
}

.service-item {
    max-height: 100%;
    max-width: 100%;
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    padding: 30px;
    border-radius: 10px;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#services .service-item::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: grey;
    opacity: 0.9;
    z-index: -1;
}

#services .service-bottom .icon {
    height: 100%;
    width: 120%;
    padding: -75px;
    margin-right: 20px;
}

#services .service-item h2 {
    font-size: 2rem;
    color: #29323c;
    text-transform: uppercase;
}

#services .service-item p {
    color: #29323c;
    text-align: left;
}

.service-top p {
    font: 300;
    font-size: medium;
}


/* #services .service-item img {
    width: 100%;
    height: 100%;
} */


/* End Services Section */


/* About Section */

#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left {
    width: 250px;
    height: 360px;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
}

#about .col-right p {
    margin-bottom: 20px;
}

#about .col-right .cta {
    color: #29323c;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

#about .col-left .about-img {
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid #160460;
}

#about .col-left .about-img::after {
    content: "";
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid #041058;
    z-index: -1;
}

.about-img img {
    height: 100%;
    width: 100%;
}


/* End About Section */


/* contact Section */


/* #contact {
    b
    background-attachment: fixed;
  
    z-index: 1;
 
} */

#contact {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-wrapper {
    width: 70%;
    height: 50rem;
    display: flex;
    padding: -50px;
    background-image: url("contact-us-bg.jpg");
    background-attachment: fixed;
    background-repeat: repeat;
    z-index: 1;
}

.contact-left {
    width: 35%;
}

.contact-right {
    width: 65%;
    padding: 3rem 10rem 10rem 10rem;
}

.contact-heading {
    font-family: "Baloo Da 2", serif;
    font-size: 6rem;
    font-weight: 300;
    color: #272727;
    margin-bottom: 5rem;
    text-align: center;
}

.contact-right form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
}

.input-group {
    position: relative;
}

.field {
    width: 45rem;
    background-color: transparent;
    border: none;
    border-bottom: 0.2rem dashed #636363;
    margin: 3rem 0;
    padding: 1rem 1rem 1rem 0;
    font-family: "Muli", serif;
    font-size: 1.6rem;
    color: #636363;
}

.input-group input {
    height: 4rem;
}

.input-group textarea {
    max-height: 7rem;
    max-width: 45rem;
}

.field:focus {
    border-bottom-style: solid;
    background-color: #fff;
}

.input-group label {
    position: absolute;
    left: 0;
    font-family: "Baloo Da 2", serif;
    font-size: 1.8rem;
    color: #fff;
    text-transform: uppercase;
    pointer-events: none;
    transition: all 0.3s;
}

.input-label {
    bottom: 5rem;
}

.message {
    bottom: 6rem;
}

.field:focus~label {
    transform: translateY(-3rem);
    font-size: 1.2rem;
}

.submit-btn {
    width: 45rem;
    height: 5rem;
    background-color: #4ac959;
    color: #fff;
    border: none;
    margin-top: 2rem;
    font-family: "Muli", serif;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    cursor: pointer;
    text-align: center;
}

form a {
    margin-top: 30px;
}

@media (max-width: 1500px) {
    .contact-wrapper {
        width: 80%;
        height: 65rem;
    }
}

@media (max-width: 1000px) {
    .contact-left {
        width: 0;
    }
    .contact-right {
        width: 100%;
    }
    .input-group textarea {
        max-width: 55rem;
    }
}

@media (max-width: 700px) {
    .field {
        width: 35rem;
    }
    .input-group textarea {
        max-width: 35rem;
    }
    .submit-btn {
        width: 35rem;
    }
}


/*End contact Section */


/*the team section */


/* #team-members {
    margin-top: 100px;
    padding-top: 80px;
    background-image: url(house-cleaning.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
} */


/* .wrapper {
    margin-top: 175px;
} */

#team-members {
    margin-top: 100px;
    padding-top: 80px;
    background-color: whitesmoke;
}

.wrapper h1 {
    margin-bottom: 75px;
    font-size: 6rem;
    font-weight: 500;
    color: #000;
    text-align: center;
}

.team {
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
}

.team .team_member {
    background: whitesmoke;
    margin: 5px;
    margin-bottom: 50px;
    width: 200px;
    height: 250px;
    padding: 20px;
    line-height: 20px;
    color: #29323c;
    position: relative;
    border-radius: 10px;
}

.team .team_member h3 {
    color: #29323c;
    font-size: 20px;
    text-align: center;
}

#name-box {
    margin-top: 200px;
    height: 25px;
    box-shadow: 5px 10px 10px 5px grey;
}

.team .team_member .team_img {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: greenyellow;
    margin-top: 90px;
}

.team .team_member .team_img img {
    width: 160px;
    height: 160px;
}


/* End of the team section */


/* Footer */

#footer {
    background-color: #041058;
}

#footer .footer {
    height: 35%;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer h2 {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .social-icon {
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

#footer .social-item img {
    filter: grayscale(1);
    transition: 0.3s ease filter;
}

#footer .social-item:hover img {
    filter: grayscale(0);
}

#footer p,
h1 {
    color: white;
    font-size: 1.3rem;
}


/* End Footer */


/* Keyframes */

@keyframes hamburger_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: #9acd32;
        font-weight: 500;
    }
}


/* End Keyframes */


/* Media Query For Tablet */

@media only screen and (min-width: 768px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title {
        font-size: 6rem;
    }
    /* Hero */
    #hero h1 {
        font-size: 7rem;
    }
    /* End Hero */
    /* Services Section */
    #services .service-bottom .service-item {
        flex-basis: 45%;
        margin: 2.5%;
    }
    /* End Services Section */
    /* About */
    #about .about {
        flex-direction: row;
    }
    #about .col-left {
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }
    #about .about .col-left .about-img::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid #9acd32;
    }
    #about .col-right {
        text-align: left;
        padding: 30px;
    }
    #about .col-right h1 {
        text-align: left;
    }
    /* End About */
    /* contact  */
    #contact .contact {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }
    #contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }
    #contact .contact-item {
        width: 30%;
        margin: 0;
        flex-direction: row;
    }
    #contact .contact-item .icon {
        height: 100px;
        width: 100px;
    }
    #contact .contact-item .icon img {
        object-fit: contain;
    }
    #contact .contact-item .contact-info {
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
    /* End contact  */
    #footer .footer {
        height: 30%;
    }
    #slider {
        margin-top: 600px;
    }
}

@media only screen and (min-width: 300px) {
    #footer .footer {
        height: 20%;
    }
    #slider {
        margin-top: 600px;
    }
}


/* End Media Query For Tablet */

@media only screen and (min-width: 1100px) {
    #header .nav-list {
        display: inline-flex;
        height: auto;
        width: 100%;
        left: 0;
    }
    #slider {
        margin-top: 600px;
    }
}


/* Media Query For Desktop */

@media only screen and (min-width: 900px) {
    /* header */
    #header .hamburger {
        display: none;
    }
    #header .nav-bar {
        width: 100%;
    }
    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li {
        display: inline-block;
    }
    #header .nav-list ul li a {
        font-size: 1.8rem;
    }
    #header .nav-list ul a:after {
        display: none;
    }
    /* End header */
    #services .service-bottom .service-item {
        flex-basis: 22%;
        margin: 1.5%;
    }
}


/* End  Media Query For Desktop */