@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "	Arial", sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: #29323c;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: #29323c;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.section-title span {
    color: #9acd32;
}


/* .cta {
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #9acd32;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
} */


/* .cta:hover {
    color: white;
    background-color: #9acd32;
} */

@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "	Arial", sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    color: #29323c;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: #29323c;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.section-title span {
    color: #9acd32;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #9acd32;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
}

.cta:hover {
    color: white;
    background-color: #9acd32;
}

.brand img {
    border-radius: 8px;
    width: 30%;
    height: 15%;
    margin-top: 5px;
    margin-left: 20px;
}


/* Header section */

#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 13vh;
    background-color: #07325c;
    transition: 0.3s ease background-color;
}

#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90%;
    /* max-width: 100%; */
    padding: 0 10px;
}

#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: #29323c;
    width: 100vw;
    height: 80vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s ease left;
    cursor: pointer;
}

#header .nav-list ul.active {
    left: 0%;
}

#header .nav-list ul li.active {
    border-style: groove;
    border-color: #9acd32;
}

#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #29323c;
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a {
    color: #9acd32;
}

#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid #29323c;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
    /* margin-right: 20px; */
}

#header .hamburger:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #29323c;
    animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::before {
    bottom: 0;
}

#header .hamburger.active .bar::after {
    top: 0;
}


/* End Header section */


/* Hero Section */

.galleryContainer {
    width: 100%;
    height: 950px;
    max-width: 2000px;
    margin: auto;
    user-select: none;
    box-shadow: 0px 0px 3px 1px #00000078;
    margin-top: 60px;
    /* padding: 0 10px; */
    box-sizing: border-box;
}

.galleryContainer .slideShowContainer {
    width: 100%;
    height: 100%;
    margin-top: 55px;
    overflow: hidden;
    background-color: gainsboro;
    position: relative;
}

.galleryContainer .slideShowContainer #playPause {
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url(images/playPause.png);
    background-repeat: no-repeat;
    z-index: 5;
    background-size: cover;
    margin: 5px;
    cursor: pointer;
}

.galleryContainer .slideShowContainer #playPause:hover {
    opacity: .7;
}

.galleryContainer .slideShowContainer .imageHolder {
    width: 100%;
    height: 100%;
    margin-top: 60px;
    position: absolute;
    opacity: 0;
}

.galleryContainer .slideShowContainer .imageHolder img {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.galleryContainer .slideShowContainer .imageHolder .captionText {
    display: none;
}

.galleryContainer .slideShowContainer .leftArrow,
.galleryContainer .slideShowContainer .rightArrow {
    width: 50px;
    background: #00000036;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: background 0.5s;
    height: 72px;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.galleryContainer .slideShowContainer .rightArrow {
    left: auto;
    right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.galleryContainer .slideShowContainer .leftArrow:hover,
.galleryContainer .slideShowContainer .rightArrow:hover {
    background: #000000a8;
    cursor: pointer;
}

.galleryContainer .arrow {
    display: inline-block;
    border: 3px solid white;
    width: 10px;
    height: 10px;
    border-left: none;
    border-bottom: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.galleryContainer .arrow.arrowLeft {
    transform: rotateZ(-135deg);
}

.galleryContainer .arrow.arrowRight {
    transform: rotateZ(45deg);
}

.galleryContainer #dotsContainer {
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}

.galleryContainer #dotsContainer .dots {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: #9acd32;
    cursor: pointer;
    transition: background-color 0.5s;
}

.galleryContainer #dotsContainer .dots:first-child {
    margin-left: 0;
}

.galleryContainer #dotsContainer .dots:hover,
.galleryContainer #dotsContainer .dots.active {
    background-color: #717171;
    ;
}

.galleryContainer .moveLeftCurrentSlide {
    animation-name: moveLeftCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.galleryContainer .moveLeftNextSlide {
    animation-name: moveLeftNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes moveLeftCurrent {
    from {
        margin-left: 0;
        opacity: 1;
    }
    to {
        margin-left: -100%;
        opacity: 1;
    }
}

@keyframes moveLeftNext {
    from {
        margin-left: 100%;
        opacity: 1;
    }
    to {
        margin-left: 0%;
        opacity: 1;
    }
}

.galleryContainer .moveRightCurrentSlide {
    animation-name: moveRightCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.galleryContainer .moveRightPrevSlide {
    animation-name: moveRightPrev;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes moveRightCurrent {
    from {
        margin-left: 0;
        opacity: 1;
    }
    to {
        margin-left: 100%;
        opacity: 1;
    }
}

@keyframes moveRightPrev {
    from {
        margin-left: -100%;
        opacity: 1;
    }
    to {
        margin-left: 0%;
        opacity: 1;
    }
}


/* End Hero Section */


/* Projects section */

#projects .projects {
    background-color: #fff;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 100px 0;
}

#projects .projects-header h1 {
    margin-bottom: 30px;
}

#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    border: 10px solid #fff;
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: lightgrey;
    color: white;
}

#projects .project-info h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
}

#projects .project-info p {
    color: black;
    font-size: 1.7rem;
    text-align: justify;
}

#projects .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}


/* #projects .project-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    
} */


/* Media Query For Tablet */

@media only screen and (min-width: 768px) {
    /* Project */
    #projects .project-item {
        flex-direction: row;
    }
    #projects .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }
    #projects .project-item {
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #projects .all-projects .project-info {
        height: 100%;
    }
    #projects .all-projects .project-img {
        height: 100%;
    }
    /* End Project */
}


/* End Media Query For Tablet */


/* About Section */

#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left {
    width: 250px;
    height: 360px;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
}

#about .col-right p {
    margin-bottom: 20px;
}

#about .col-right .cta {
    color: #29323c;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

#about .col-left .about-img {
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid #fff;
}

#about .col-right p {
    text-align: justify;
}

#about .col-left .about-img::after {
    content: "";
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid #041058;
    z-index: -1;
}

.about-img img {
    height: 100%;
    width: 100%;
}


/* End About Section */


/* Contact  Section */

#contactForm {
    padding: 15rem 0 20rem 0;
    text-align: center;
    background-color: #fff;
}

.contact-heading {
    font-weight: 500;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: #000;
    margin-bottom: 8rem;
}

.contact-form {
    width: 70rem;
    height: 50rem;
    background: lightgrey;
    margin: auto;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 2rem 1rem #07325c;
    padding: 5rem;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    position: relative;
}

.input-groups {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-groups .input-group {
    width: 48.5%;
}

.input-group input,
.input-group textarea {
    padding: 3rem 1rem 1rem 1rem;
    background-color: whitesmoke;
    border: 0.1rem solid #ccc;
    font-size: 1.4rem;
    color: #000;
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
    transition: border 0.3s;
}

.input-group input:focus,
.input-group textarea:focus {
    border: 0.0rem solid #ccc;
}

.input-group label {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #ccc;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.form-btn {
    color: #fff;
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
    background-color: #07325c;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s;
}

.form-btn:hover {
    background-color: #9acd32;
}

.input-group textarea {
    max-height: 15rem;
    max-width: 100%;
}

.alert {
    text-align: center;
    padding: 10px;
    background: #9acd32;
    color: #fff;
    margin-top: 30px;
    display: none;
}


/* End of Contact */


/* End Media Query For Tablet */

@media (max-width: 800px) {
    .contact-form {
        width: 90%;
    }
}

@media (max-width: 650px) {
    .contact-heading {
        font-size: 4rem;
    }
    .contact-form {
        padding: 2rem;
        height: 40rem;
    }
}

@media (max-width: 500px) {
    .btn {
        height: 35px;
    }
    #myBtnContainer button:nth-child(4) {
        margin-top: 10px;
    }
    .alert {
        font-size: 25px;
        margin-bottom: 5px;
        background: #fcc330;
        color: #000;
        margin-top: 30px;
        display: none;
    }
}


/*End contact Section */


/*the team section */

.wrapper {
    background-color: #fff;
}

#team-members {
    margin-top: 100px;
    padding-top: 80px;
    background-color: whitesmoke;
}

.wrapper h1 {
    margin-bottom: 75px;
    font-size: 6rem;
    font-weight: 500;
    color: #000;
    text-align: center;
}

.team {
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
}

.team .team_member {
    background: lightgrey;
    margin: 5px;
    margin-bottom: 50px;
    width: 200px;
    height: 280px;
    padding: 20px;
    line-height: 20px;
    position: relative;
    border-radius: 10px;
}

.team .team_member h3 {
    font-style: italic;
    color: #29323c;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

#name-box {
    margin-top: 200px;
    height: 25px;
}

.team .team_member .team_img {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: greenyellow;
    margin-top: 90px;
}

.team .team_member .team_img img {
    width: 160px;
    height: 160px;
}


/* End of the team section */


/* Footer */

#footer {
    background-color: #07325c;
}

#footer .footer {
    display: flex;
    min-height: 200px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer h2 {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .social-icon {
    margin-left: 30px;
}

#footer .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

#footer .social-words {
    margin-left: -70px;
    margin-bottom: 10px;
}

#footer .social-item img {
    filter: grayscale(1);
    transition: 0.3s ease filter;
}

#footer .social-item:hover img {
    filter: grayscale(0);
}

#footer p,
h1 {
    font-weight: 200;
    color: white;
    font-size: 2rem;
}


/* End Footer */


/* Keyframes */

@keyframes hamburger_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: #9acd32;
        font-weight: 500;
    }
}


/* End Keyframes */


/* Media Query For Tablet */

@media only screen and (min-width: 768px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title {
        font-size: 6rem;
    }
    /* Hero */
    #hero h1 {
        font-size: 7rem;
    }
    /* End Hero */
    /* Services Section */
    #services .service-bottom .service-item {
        flex-basis: 45%;
        margin: 2.5%;
    }
    /* End Services Section */
    /* About */
    #about .about {
        flex-direction: row;
    }
    #about .col-left {
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }
    #about .about .col-left .about-img::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid #9acd32;
    }
    #about .col-right {
        text-align: left;
        padding: 30px;
    }
    #about .col-right h1 {
        text-align: left;
    }
    /* End About */
    /* contact  */
    /* End contact  */
    #footer .footer {
        height: 10%;
    }
    #slider {
        margin-top: 110px;
    }
}

@media only screen and (max-width: 300px) {
    #footer .footer {
        display: flex;
        min-height: 300px;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    #slider {
        margin-top: 60px;
    }
    #header .nav-list {
        display: flex;
        height: 50px;
        width: 1000px;
    }
    .galleryContainer {
        width: 50%;
        height: 300px;
        max-width: 500px;
        margin: auto;
        user-select: none;
        box-shadow: 0px 0px 3px 1px #00000078;
        margin-top: -40px;
        /* padding: 0 10px; */
        box-sizing: border-box;
    }
    .galleryContainer .slideShowContainer {
        width: 50%;
        height: 50%;
        overflow: hidden;
        /* background-color: #ccc; */
        position: relative;
    }
    .galleryContainer .slideShowContainer .imageHolder {
        width: 50%;
        height: 50%;
        position: absolute;
        opacity: 0;
    }
    .galleryContainer .slideShowContainer .imageHolder img {
        width: 50%;
        height: 50%;
    }
    .brand img {
        border-radius: 8px;
        width: 20%;
        height: 10%;
        margin-top: 5px;
        margin-left: 20px;
    }
}


/* Media query for tablets */

@media only screen and (max-width: 500px) {
    #footer .footer {
        display: flex;
        min-height: 300px;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    #slider {
        margin-top: 60px;
    }
    #header .nav-list {
        display: flex;
        height: 50px;
        width: 1000px;
    }
    .galleryContainer {
        width: 50%;
        height: 300px;
        max-width: 500px;
        margin: auto;
        user-select: none;
        box-shadow: 0px 0px 3px 1px #00000078;
        margin-top: -40px;
        /* padding: 0 10px; */
        box-sizing: border-box;
    }
    .galleryContainer .slideShowContainer {
        width: 50%;
        height: 50%;
        overflow: hidden;
        /* background-color: #ccc; */
        position: relative;
    }
    .galleryContainer .slideShowContainer .imageHolder {
        width: 50%;
        height: 50%;
        position: absolute;
        opacity: 0;
    }
    .galleryContainer .slideShowContainer .imageHolder img {
        width: 50%;
        height: 50%;
    }
    .brand img {
        border-radius: 8px;
        width: 20%;
        height: 10%;
        margin-top: 5px;
        margin-left: 20px;
    }
}


/* End Media Query For tablets */


/* End Media Query For phones */

@media only screen and (min-width: 1100px) {
    #header .nav-list {
        display: inline-flex;
        height: auto;
        width: 100%;
        left: 0;
    }
    #slider {
        margin-top: 120px;
    }
    #footer .footer {
        height: 10%;
    }
}

@media only screen and (max-width: 1100px) {
    .galleryContainer {
        width: 100%;
        height: 500px;
        max-width: 1150px;
        margin: auto;
        user-select: none;
        box-shadow: 0px 0px 3px 1px #00000078;
        margin-top: -80px;
        /* padding: 0 10px; */
        box-sizing: border-box;
    }
    .galleryContainer .slideShowContainer {
        width: 100%;
        height: 100%;
        overflow: hidden;
        /* background-color: #ccc; */
        position: relative;
    }
    .galleryContainer .slideShowContainer .imageHolder {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
    }
    .galleryContainer .slideShowContainer .imageHolder img {
        width: 100%;
        height: 100%;
    }
}


/* Media Query For Desktop */

@media only screen and (min-width: 900px) {
    /* header */
    #header .hamburger {
        display: none;
    }
    #header .nav-bar {
        width: 100%;
    }
    #header .nav-list {
        display: block;
        /* width: fit-content; */
    }
    #header .nav-list ul {
        position: initial;
        display: block;
        height: 70px;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li {
        display: inline-block;
    }
    #header .nav-list ul li a {
        font-size: 1.8rem;
    }
    #header .nav-list ul a:after {
        display: none;
    }
    /* End header */
    #services .service-bottom .service-item {
        display: flex;
        flex-wrap: wrap;
    }
}


/* End  Media Query For Desktop *